<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main3.css">
</head>
<body>
  <header>
    <h1>MrBeast Games</h1>
     <nav>
       <a href="/home">Home</a>
       <a href="/games">Games</a>
       <a href="/payment">payment</a>
       <a href="/contact">contact</a>
       <a href="/videos">videos</a>
   </nav>

  </header>

  <h1>Beast Game Zone</h1>

     <div class="game-grid" >
    <div class="game-card">
      <div class="game-image">
        <img src="/styles/beast-games-1.jpg" alt="">
      </div>
      <div class="game-info">
        <h3>Last To Leave Circle</h3>
        <p>Contestants must stay inside a circle for a grand prize.</p>
      </div>
    </div>


    <div class="game-card">
      <div class="game-image">
        <img src="/styles/what-2.jpg" alt="">
      </div>
      <div class="game-info">
        <h3>Extreme Hide and Seek</h3>
        <p>Players hide across massive locations to win money.</p>
      </div>
    </div>

    <div class="game-card">
      <div class="game-image">
        <img src="/styles/what-2.jpg" alt="">
      </div>
      <div class="game-info">
        <h3>Survive the Night</h3>
        <p>Participants must endure challenges to last till morning.</p>
      </div>
    </div>

    <div class="game-card">
      <div class="game-image">
        <img src="/styles/what-2.jpg" alt="">
      </div>
      <div class="game-info">
        <h3>Squid Game IRL</h3>
        <p>A real-life version of the Squid Game, but safe and fun!</p>
      </div>
    </div>

    <div class="game-card">
      <div class="game-image">
        <!-- <img src="/styles/what-2.jpg" alt=""> -->
      </div>
      <div class="game-info">
        <h3>World’s Largest Domino</h3>
        <p>Team effort to set and knock down epic domino structures.</p>
      </div>
    </div>

    <div class="game-card">
      <div class="game-image">
        <img src="/styles/what-2.jpg" alt="">
      </div>
      <div class="game-info">
        <h3>1 vs 100</h3>
        <p>One player vs 100 others in intense elimination challenges.</p>
      </div>
    </div>
  </div>

 <%- include("partials/footer.ejs") %>
</body>
</html>